{% extends "base.html" %}
{% block content %}
  <h1 class="post-heading">Blogs</h1>
  <div id="outer">
    <form action="/logout" class="inner" method="GET">
      <input type="submit" class="bottom-button" value="Log Out">
    </form>
    <form action="/newpost" class="inner" method="GET">
      <input type="submit" class="bottom-button" value="New Post">
    </form>
  </div>
  <br>
  <div>
    {% for post in posts %}
      <h2 class="post-title">{{post.title}}</h2>
      <p class="post-content" name="post">{{post.post}}</p>
      <p class="post-date" name="created">{{post.created.strftime('%Y-%m-%d')}}</p>
      <p name="no_of_likes">Likes: {{post.likes}}</p>
      {% if error_id == post.key().id() %}
        <p class="error">{{like_error}}</p>
      {% endif %}
      <div id="outer">
        <form action="/{{post.key().id()}}"class="inner" method="GET">
          <input type="hidden" name="post_id" value="{{post.key().id()}}">
          <input type="submit" value="Actions">
        </form>
        <form  action="/like_post" class="inner" method="POST">
          <input type="hidden" name="post_id" value="{{post.key().id()}}">
          <input type="submit" value="Like Post">
        </form>
        <form  action="/unlike_post" class="inner" method="POST">
          <input type="hidden" name="post_id" value="{{post.key().id()}}">
          <input type="submit" value="Unlike Post">
        </form>
      </div>
    {% endfor %}
  </div>
{% endblock %}