<!DOCTYPE html>
<head>
	<link type="text/css" rel="stylesheet" href="/stylesheets/style.css"/>
	<title>Blog</title>
</head>
<body>
	<h2>{{title}}</h2>
	<p>{{content}}</p>
	<p class="error">{{ error }}</p>
	<div id="outer">
		<form class="inner" method="POST">
			<input type="submit" name="delete_post" value="Delete Post">
		</form>
		<form class="inner" method="POST">
			<input type="hidden" name="edit_post" value="Edit Post">
			<input type="submit" value="Edit">
		</form>
	</div>
	<h2>Comments</h2>
	<form method="POST">
		<input type="hidden" name="add_comment" value="Add Comment">
		<input type="submit" value="Add Comment">
	</form>
	{% for comment in comments %}
		<p>{{comment.comment}}</p>
		<p class="post-date">{{comment.created.strftime('%Y-%m-%d')}}</p>
		{% if error_id == comment.key().id() %}
			<p class="error">{{comment_error}}</p>
		{% endif %}
		<div id="outer">
			<form class="inner" method="POST">
				<input type="hidden" name="comment_id" value="{{comment.key().id()}}">
				<input type="hidden" name="delete_comment" value="Edit Comment">
				<input type="submit" name="Delete" value="Delete Comment">
			</form>
			<form class="inner" method="POST">
				<input type="hidden" name="comment_id" value="{{comment.key().id()}}">
				<input type="hidden" name="edit_comment" value="Edit Comment">
				<input type="submit" value="Edit Comment">
			</form>
		</div>
	{% endfor %}
	<form method="POST">
		<input class="logout" type="submit" name="home" value="Home Page">
	</form>
</body>