{% extends "base.html" %}
{% block content %}
  <h2>{{title}}</h2>
  <p>{{content}}</p>
  <p class="error">{{error}}</p>
  <div id="outer">
    <form action="/delete_post" class="inner" method="POST">
      <input type="hidden" name="post" value="{{post_id}}">
      <input type="submit" value="Delete Post">
    </form>
    <form action="/edit_post" class="inner" method="GET">
      <input type="hidden" name="post" value="{{post_id}}">
      <input type="submit" value="Edit Post">
    </form>
  </div>
  <h2>Comments</h2>
  <form action="/comment" method="GET">
    <input type="hidden" name="post" value="{{post_id}}">
    <input type="submit" value="Add Comment">
  </form>
  {% for comment in comments %}
    <p>{{comment.comment}}</p>
    <p class="post-date">{{comment.created.strftime('%Y-%m-%d')}}</p>
    {% if error_id == comment.key().id() %}
      <p class="error">{{comment_error}}</p>
    {% endif %}
    <div id="outer">
      <form action="/delete_comment" class="inner" method="POST">
        <input type="hidden" name="comment" value="{{comment.key().id()}}">
        <input type="hidden" name="post" value="{{post_id}}">
        <input type="submit" value="Delete Comment">
      </form>
      <form action="/edit_comment" class="inner" method="GET">
        <input type="hidden" name="comment" value="{{comment.key().id()}}">
        <input type="hidden" name="post" value="{{post_id}}">
        <input type="submit" value="Edit Comment">
      </form>
    </div>
  {% endfor %}
  <form action="/" method="GET">
    <input class="bottom-button" type="submit" name="home" value="Home Page">
  </form>
{% endblock %}